* {
	margin: 0px;
	padding: 0px;
}

html,
body {
	background-image: linear-gradient(
		100deg,
		#672a80,
		#554971,
		#63768d,
		#8ac6d0,
		#b8f3ff
	);
	background-repeat: no-repeat;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	padding-top: 20px;
	padding-bottom: 6px;
	height: 100%;
	display: flex;

	margin-top: auto;
	margin-bottom: auto;

	flex-direction: column;
	justify-content: space-evenly;
}

#productPage {
	background-color: #363636;
	border: black solid 2px;
	border-radius: 60px;
	box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 75%) 0px 18px 36px -18px inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#productImage {
	width: 350px;
	border: solid grey 2px;
	border-radius: 30px;
	overflow: hidden;
	margin: 10px;
}

#productName {
	width: 100%;
}

#productDetails {
	margin: 10px;
	width: 350px;
}

#productDetails h1,
#productDetails p {
	text-align: left;
}

.content {
	flex: 1 0 auto;
	padding: 10px;

	width: 70%;
	margin: auto;
	text-align: center;
}

.productContainer {
	display: flex;
	padding: 30px;
	border: solid black 2px;
	border-radius: 50px;
	background-color: #363636;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.753) 0px 18px 36px -18px inset;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*================== Products ==================*/

.productItem {
	width: 180px;
	/*height: 230px;*/
	text-align: center;
	border: solid rgb(85, 85, 85) 2px;
	border-radius: 20px;
	background-color: rgb(216, 216, 216);
	padding: 5px;
	margin-right: 30px;
	margin-bottom: 30px;
	box-shadow: rgba(169, 46, 240, 0.4) 5px 5px, rgba(169, 46, 240, 0.3) 10px 10px,
		rgba(169, 46, 240, 0.2) 15px 15px, rgba(169, 46, 240, 0.1) 20px 20px,
		rgba(240, 46, 170, 0.05) 25px 25px;
	animation: fadeIn forwards 1s;
}

.productItem:hover{
	border-color: black;
}

.productItem p{
	color: black;
}

.productItem h2{
	font-size: medium;
	color: black;
}

.productItem img{
	width: 150px;
}

.productQuantity {
	text-align: center;
	font-size: larger;
	height: 100%;
	width: 25%;
}

button{
	color: white;
    background: #282828;
    text-shadow: 1px 0 2px black, 0 1px 2px black;
    padding: 3px 10px;
    margin: 2px;
    
	font-size:large;
	cursor: pointer;

	transition: 0.3s;

	border: double 2px transparent;
    border-radius: 80px;
	background-image: linear-gradient(#282828,#282828), linear-gradient(100deg, #8860D0, #5680E9, #84CEEB, #5AB9EA);
	background-origin: border-box;
  	background-clip: padding-box, border-box;
}


button:hover{
	border-color: black;
}

.cartBtn {
	font-size:x-large;
}


.productItem img {
	border: solid grey 2px;
	border-radius: 30px;
	overflow: hidden;
}

#productDetails {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#productPriceContainer {
	margin-top: auto;
}

#productQuantityContainer {
	margin: auto;
}

/*================== Search ==================*/
#mainSearch{
	margin: 10px;
	padding: 10px 20px 10px 20px;
	font-size: larger;
	width: 500px;
	border-radius: 20px;
}

#searchBar{
	margin: 10px;
	padding: 10px 20px 10px 20px;
	font-size: larger;
	width: 250px;
	border-radius: 20px;
}

#searchNav{
	display: none;
}

/*================== My Account ==================*/
#myAccountContent {
	padding: 30px;
	border: solid black 2px;
	border-radius: 50px;
	background-color: #363636;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.753) 0px 18px 36px -18px inset;
}

#productTable_staff {
	width: 100%;
	margin-bottom: 30px;
	border-collapse: collapse;
}

.tab{
	width: 300px;
	margin: auto;
	border-collapse: collapse;
	display: flex;
}

.tab.loggedIn{
	width: 70%;
}

.tabcontent {
	width: 300px;
	display: none;
	border: solid black ;
	border-width: 2px;;
	margin: auto;
	border-radius: 0px 0px 20px 20px;
	background-color: #282828;
}

.tabcontent.loggedIn{
	width: 70%;
}

.tablinks{
	transition: 0.3s;
	width: 50%; /*FECK*/
	margin: 0px;
}

.tablinks.left{
	border-radius: 10px 0px 0px 0px;
	border-bottom: 0px;
}

.tablinks.middle{
	border-radius: 0px 0px 0px 0px;
	border-bottom: 0px;
}


.tablinks.right{
	border-radius: 0px 10px 0px 0px;
	border-bottom: 0px;
}

.tablinks.active {
	background-image: linear-gradient(100deg, #8860D0, #5680E9, #84CEEB, #5AB9EA) , linear-gradient(100deg, #8860D0, #5680E9, #84CEEB, #5AB9EA); 
}

/*================== Cart ==================*/

#TotalCostContent {
	padding: 10px;
}

#cartContent {
	padding: 10px;
	border: solid black 2px;
	border-radius: 50px;
	background-color: #363636;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.753) 0px 18px 36px -18px inset;
}

#cartTable {
	width: 100%;
	margin-bottom: 30px;
	border-collapse: collapse;
}

th, td {
	font-family: Sora;
	color: white;
	text-align: center;
	border: 1px solid white;
}

#cartTable a {
	color: white;
	text-decoration: none;
}

#cartImage {
	width: 100px;
}

.checkOutBtn {
	font-size:x-large;
}

.cartClearBtn {
	font-size: x-large;
	margin: 20px;
}

.cartRemoveBtn, .cartViewBtn {
	font-size: medium;
}

/* == About Us == */
#aboutUsContent {
	padding: 30px;
	border: solid black 2px;
	border-radius: 50px;
	background-color: #363636;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.753) 0px 18px 36px -18px inset;

}

#aboutUsContent p {
	text-align: left;
}

#aboutUsContent h2 {
	text-align: left;
}

/* == Help == */
#helpContent {
	padding: 30px;
	border: solid black 2px;
	border-radius: 50px;
	background-color: #363636;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.753) 0px 18px 36px -18px inset;

}

#helpContent p {
	text-align: center;
}

#helpContent h2 {
	text-align: center;
}

/* === Header === */
header {
	width: 100%;
	position: sticky;
	top: 0px;
	background-color: #282828;
	display: flexbox;
	border-bottom: solid black 1px;
	box-shadow: rgba(0, 0, 0, 0.404) 0px 20px 10px,
		rgba(0, 0, 0, 0.404) 0px 10px 10px;
	z-index: 3;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#Search {
	display: flex;
	min-width: fit-content;
	align-self: center;
	justify-self: center;
	justify-items: center;
}

ul {
	list-style: none;
	display: flex;
}

li {
	display: inline-block;
	margin: 15px;
	border: transparent solid 3px;
	text-align: center;
}

nav a {
	color: white;
	text-align: center;
	text-decoration: none;

	font-family: Sora;

	display: block;
	padding: 10px;
}

.icons {
	width: 35px;
}

#logoContainer{
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	width: 200px;
	height: 42px;
}

form {
	text-align: center;
}



/* === Footer === */
footer {
	text-align: center;
	color: white;
	background-color: #282828;
	border-top: solid black 1px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin-top: auto;

	font-family: sora;
}

/* === Text === */
@font-face {
	font-family: "Sora";
	src: url(Sora-VariableFont_wght.ttf);
}

h1 {
	font-family: Sora;
	text-align: center;
	color: white;
	margin: 3px;
}

h2 {
	font-family: Sora;
	text-align: center;
	color: white;
	margin: 3px;
}

p {
	font-family: Sora;
	text-align: center;
	color: white;
	margin: 3px;
}

label {
	font-family: Sora;
	text-align: center;
	color: white;
	margin: 3px;
}

a:link{
	color: #5AB9EA;
}

a:visited{
	color: #5AB9EA;
}

a:hover{
	color: #3c7794;
}

/* === Other === */

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media screen and (max-width:1130px){
	/*===== Header =====*/
	nav{
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	#searchNav{
		display: inline-block;
	}

	#searchBar{
		display: none;
	}

	.icons{
		width: 50px;
	}

	li{
		margin: 10px;
	}

	/*===== Content =====*/
	.content{
		width: 90%;
	}

	button{
		font-size: x-large;
	}

	/*===== Cart ======*/
	.cartClearBtn, .checkOutBtn{
		font-size: xx-large;
	} 
	.cartRemoveBtn, .cartBtn, .cartViewBtn{
		font-size: x-large;
	}
}